@model ProjetSessionWebServ2.Models.Salle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Salle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoSalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoSalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dimension.Largeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimension.Largeur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dimension.Longueur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimension.Longueur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour a la liste", "Index")
</p>
