@model ProjetSessionWebServ2.Models.Evenement

@{
    ViewBag.Title = @ProjetSessionWebServ2.GlobalRessources.EvenementRes.Create;
}

<h2>@ProjetSessionWebServ2.GlobalRessources.EvenementRes.AddEvent</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Evenemenent</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.Label(@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Congres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Congres", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom)
                @Html.ValidationMessageFor(model => model.Nom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", cols = "100" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salle.NoSalle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salle.NoSalle)
                @Html.ValidationMessageFor(model => model.Salle.NoSalle)
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("DateConference", new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.DateTournoi, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.HeureDebut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("HeureDebut", new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.HeureDebut, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.HeureFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("HeureFin", new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.HeureFin, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <div class="form-group">
                <input type="submit" value="@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Retouralaliste, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
