@model ProjetSessionWebServ2.Models.Evenement

@{
    ViewBag.Title = @ProjetSessionWebServ2.GlobalRessources.EvenementRes.Supprimer;
}

<h2>@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Supprimer</h2>

<h3>@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.AreYouSureYouWantToDeleteThis</h3>
<div>
    <h4>@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Evenemenent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeEvenement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeEvenement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Supprimer" class="btn btn-default" /> |
            @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.EvenementRes.Retouralaliste, "Index")
        </div>
    }
</div>
