
@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.ViewName;
}

<h1>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.ViewName</h1>


<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.SalesReport</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.SalesReport, "RapportDesVentes", "Congres", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateCongres</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateCongres, "Create", "Congres", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexEventTypes</h3>

@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexTypeTournaments, "Index", "TypeTournois", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexTypeConferences, "Index", "TypeConferences", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexTypeShows, "Index", "TypeSpectacles", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexTypeKiosques, "Index", "TypeKiosques", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateEventTypes</h3>

@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateTypeTournaments, "Create", "TypeTournois", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateTypeConferences, "Create", "TypeConferences", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateTypeShows, "Create", "TypeSpectacles", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateTypeKiosques, "Create", "TypeKiosques", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.Rooms</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexRooms, "Index", "Salles", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateRooms, "Create", "Salles", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.Sections</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexSections, "Index", "Sections", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateSections, "Create", "Sections", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.Tournaments</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexTournaments, "Index", "Tournois", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateTournaments, "Create", "Tournois", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.Conferences</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexConferences, "Index", "Conferences", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateConferences, "Create", "Conferences", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.Shows</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexShows, "Index", "Spectacles", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateShows, "Create", "Spectacles", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.Kiosk</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexKiosk, "Index", "Kiosques", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateKiosk, "Create", "Kiosques", null, null)

<h3>@ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.OtherEvents</h3>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.IndexOtherEvents, "Index", "Evenement", null, null)<br>
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.AdminPanelRes.CreateOtherEvents, "Create", "Evenement", null, null)