@model IEnumerable<ProjetSessionWebServ2.Models.Congres>

@{
    ViewBag.Title = "Index";
}
@*@Html.ActionLink("Francais", "ChangerLangue", new { langue = "fr" }) |
@Html.ActionLink("English", "ChangerLangue", new { langue = "en" }) |*@
<h2>Index</h2>
@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.Create
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Voir l'horaire complet", "HoraireCongres", new { id = item.Id })
        </td>
    </tr>
}

</table>
