@model List<ProjetSessionWebServ2.Models.Conference>

@{
    ViewBag.Title = "Events du congres";
}

<h1>Conference</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nom")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Type de Conference")
        </th>
        <th>
            @Html.DisplayName("Conferencier")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeConference.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FirstOrDefault().UserName)
            </td>
            <td>       
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>