@model List<ProjetSessionWebServ2.Models.Conference>

@{
    ViewBag.Title = "Events du congres";
}

<h1>Conference</h1>

@Html.ActionLink("Créer", "Create", "Conferences")

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nom")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Type de Conference")
        </th>
        <th>
            @Html.DisplayName("Conferencier")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Actif.Equals(false))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)  <strong>(Cancelled)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeEvenement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salle.NoSalle)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", "Conferences", new { id = item.Id }, null) |
                    @Html.ActionLink("Voir Detail", "Details", "Conferences", new { id = item.Id }, null) |
                    @Html.ActionLink("Supprimer", "Delete", "Conferences", new { id = item.Id }, null)
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeEvenement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salle.NoSalle)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", "Conferences", new { id = item.Id }, null) |
                    @Html.ActionLink("Voir Detail", "Details", "Conferences", new { id = item.Id }, null) |
                    @Html.ActionLink("Supprimer", "Delete", "Conferences", new { id = item.Id }, null)
                </td>
            </tr>
        }
    }

</table>