@model List<ProjetSessionWebServ2.Models.Evenement>

@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.CongresRes.CongresEvents;
}

<script>
        function getEvenementAutreSelonX() {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Evenement/Index")",

                data: {
                    "searchNomEvenementAutre": document.getElementById("searchNomEvenementAutre").value,
                },
                success: function (response) {
                    $("#avantRechercheAutre").hide();
                    $('#resultSelonRechercheAutre').html(response);
                }
            });
        }

</script>

<div id="resultSelonRechercheAutre">
</div>

<div id="avantRechercheAutre">
    <h1>@ProjetSessionWebServ2.GlobalRessources.CongresRes.Others</h1>

    <p>
        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.CongresRes.Create, "Create", "Evenement")
    </p>
    @{
        using (Html.BeginForm("Index", "Evenement", FormMethod.Get))
        {
            <p>
                @ProjetSessionWebServ2.GlobalRessources.TournoiRes.ParNom: @Html.TextBox("searchNomEvenementAutre", ViewBag.CurrentFilter as string) <br>
                <input type="button" onclick="getEvenementAutreSelonX()" value="@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Rechercher" class="btn btn-default" />
            </p>
        }

    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Salle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Actif)
            </th>
            <th>
                @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.Date)
            </th>
            <th>
                @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.HeureDebut)
            </th>
            <th>
                @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.HeureFin)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Actif.Equals(false))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)  (Annule)
                    </td>
                    <td>
                        @{
                            if (item.Description.Length < 50)
                            {
                                <p>@item.Description</p>
                            }
                            else
                            {
                                <p>@(item.Description.Substring(0, 50).ToString() + "...")</p>
                            }
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salle.NoSalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actif)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureDebut.Value.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureDebut.Value.Hour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureFin.Value.Hour)
                    </td>
                    <td>
                    <td>
                        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.CongresRes.Edit, "Edit", "Evenement", new { id = item.Id }, null) |
                        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.CongresRes.Details, "Details", "Evenement", new { id = item.Id }, null) |
                        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.CongresRes.Delete, "Delete", "Evenement", new { id = item.Id }, null)
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                        @{
                            if (item.Description.Length < 50)
                            {
                                <p>@item.Description</p>
                            }
                            else
                            {
                                <p>@(item.Description.Substring(0, 50).ToString() + "...")</p>
                            }
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salle.NoSalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actif)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureDebut.Value.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureDebut.Value.Hour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureFin.Value.Hour)
                    </td>
                    <td>
                    <td>
                        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.CongresRes.Edit, "Edit","Evenement", new { id = item.Id },null) |
                        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.CongresRes.Details, "Details", "Evenement", new { id = item.Id }, null) |
                        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.CongresRes.Delete, "Delete", "Evenement", new { id = item.Id }, null)
                    </td>
                </tr>
                                }

                            }

    </table>

</div>
