@model IEnumerable<ProjetSessionWebServ2.Models.Evenement>

@{
    ViewBag.Title = "Events du congres";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.)*@
                @{
                    //if (item.TypeEvenement.ToString().Equals(ProjetSessionWebServ2.Models.Evenement.TypeEvent.TypeKiosque.ToString()))
                    if(item.TypeEvenement == ProjetSessionWebServ2.Models.Evenement.TypeEvent.TypeKiosque)
                    {
                        ProjetSessionWebServ2.Models.Kiosque kio = (ProjetSessionWebServ2.Models.Kiosque)item;

                        Html.DisplayFor(modelItem => kio.TypeKiosque.Nom);
                    }
                    else if (item.TypeEvenement == ProjetSessionWebServ2.Models.Evenement.TypeEvent.TypeConference)
                    {
                        ProjetSessionWebServ2.Models.Conference conf = (ProjetSessionWebServ2.Models.Conference)item;
                        Html.DisplayFor(modelItem => conf.TypeConference.Nom);
                    }                 
                    else if (item.TypeEvenement == ProjetSessionWebServ2.Models.Evenement.TypeEvent.TypeSpectacle)
                    {
                        ProjetSessionWebServ2.Models.Spectacle spect = (ProjetSessionWebServ2.Models.Spectacle)item;
                        Html.DisplayFor(modelItem => spect.TypeSpectacle.Nom);
                    }
                    else if (item.TypeEvenement == ProjetSessionWebServ2.Models.Evenement.TypeEvent.TypeTournoi)
                    {
                        ProjetSessionWebServ2.Models.Tournoi tournoi = (ProjetSessionWebServ2.Models.Tournoi)item;
                        Html.DisplayFor(modelItem => tournoi.TypeTournoi.Nom);
                    }
                    else if (item.TypeEvenement == ProjetSessionWebServ2.Models.Evenement.TypeEvent.TypeAutre)
                    {
                        ProjetSessionWebServ2.Models.Evenement eve = (ProjetSessionWebServ2.Models.Evenement)item;
                        Html.DisplayFor(modelItem => eve.TypeEvenement.ToString());
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>