@model List<ProjetSessionWebServ2.Models.Kiosque>

@{
    ViewBag.Title = "Events du congres";
}

<script>
    function trieKiosques() {
        $.ajax({
            type: "GET",
            url: "@Url.Content("~/Kiosques/Index")",
            data: {
                "trieKiosque": "yes"
            },
        success: function (response) {
            $("#avantRecherchekio").hide();
            $('#resultSelonRecherchekio').html(response);
        }
    });
    }

    function getKiosqueSelonX() {
        $.ajax({
            type: "GET",
            url: "@Url.Content("~/Kiosques/Index")",

            data: {
                "searchTypeKiosque": $('#searchTypeKiosque').find('option:selected').text(),
                "searchNomKiosque": document.getElementById("searchNomKiosque").value,
                "searchKiosqueur": document.getElementById("searchKiosqueur").value,
            },
            success: function (response) {
                $("#avantRecherchekio").hide();
                $('#resultSelonRecherchekio').html(response);
            }
        });
    }

</script>



<div id="resultSelonRecherchekio">
</div>

<div id="avantRecherchekio">
    <h1>Kiosque</h1>


    <p>
        @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Create, "Create")
    </p>

    @{
        using (Html.BeginForm("Index", "Kiosques", FormMethod.Get))
        {
            <p>
                @ProjetSessionWebServ2.GlobalRessources.KiosqueRes.ParTypeDeKiosque: @Html.DropDownList("searchTypeKiosque", (SelectList)ViewBag.searchTypeKiosque, "") <br>
                @ProjetSessionWebServ2.GlobalRessources.KiosqueRes.ParNom: @Html.TextBox("searchNomKiosque", ViewBag.CurrentFilter as string) <br>
                @ProjetSessionWebServ2.GlobalRessources.KiosqueRes.ParKiosqueur: @Html.TextBox("searchKiosqueur", ViewBag.CurrentFilter as string) <br>
                <input type="button" onclick="getKiosqueSelonX()" value="@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.Rechercher" class="btn btn-default" />
            </p>

        }

    }

    @{
        using (Html.BeginForm("Index", "Kiosques", FormMethod.Get))
        {
            <p>

                @Html.Hidden("trieKiosque", ViewBag.CurrentFilter as string) <br>
                <input type="button" onclick="trieKiosques()" value="@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.TrierParTypeDeKiosque" class="btn btn-default" />
            </p>

        }

    }

    @Html.ActionLink("Créer", "Create", "Kiosques")


    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Name)
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.TypeKiosque)
            </th>
            <th>
                @Html.DisplayName("Kiosqueur")
            </th>
            <th>
                @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Actif)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Description)*@
                    @{
            if (item.Description.Length < 50)
            {
                <p>@item.Description</p>
            }
            else
            {
                <p>@(item.Description.Substring(0, 50).ToString() + "...")</p>
            }
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeKiosque.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.FirstOrDefault().UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actif)
                </td>
                <td>
                    @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Edit, "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Delete, "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>