@model ProjetSessionWebServ2.Models.Tournoi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tournoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeTournoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeTournoi.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

    </dl>
</div>
<div>
    <h4>Teams participating:</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipes)
            </th>
            <th></th>
        </tr>

        @Html.ActionLink("Join as a new team", "Participate", new { tournamentId = Model.Id })

        @foreach (var item in Model.Equipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Nom)
                </td>
                <td>
                    @Html.ActionLink("Join this team", "Participate", new { tournamentId = Model.Id,teamid = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
