@model ProjetSessionWebServ2.Models.Tournoi

@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.TournoiRes.Details;
}

<h2>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Details</h2>

<div>
    <h4>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.NomController</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(ProjetSessionWebServ2.GlobalRessources.TournoiRes.NomTournoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName(ProjetSessionWebServ2.GlobalRessources.TournoiRes.TypeTournoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeTournoi.Nom)
        </dd>

        <dt>
            @Html.DisplayName(ProjetSessionWebServ2.GlobalRessources.TournoiRes.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

    </dl>
</div>
<div>
    <h4>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.TeamParticipating</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(ProjetSessionWebServ2.GlobalRessources.TournoiRes.Equipes)
            </th>
            <th></th>
        </tr>

        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.JoinAsNewTeam, "Participate", new { tournamentId = Model.Id })

        @foreach (var item in Model.Equipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Nom)
                </td>
                <td>
                    @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.JoindreEquipe, "Participate", new { tournamentId = Model.Id, teamid = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.BackToList, "Index")
</p>
