@model ProjetSessionWebServ2.Models.Equipe

@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.TournoiRes.DetailsPourEquipe;
}

<h1>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.DetailsPourLequipe: @Model.Nom</h1>

<h2>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Joueurs (@Model.Joueurs.Count)</h2>
@{
    <table class="table">
        <tr>
            <th>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Nom</th>
        </tr>             
        @foreach (ProjetSessionWebServ2.Models.ApplicationUser joueur in Model.Joueurs)
        {
            <tr>
                <td>@joueur.UserName</td>
            </tr>            
        }  
    </table>    
}
@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.RetourAuTournoi, "Details", new { id=ViewData["TournID"] })
@*@Html.ActionLink("Retour à l'index des tournois", "Index")*@