@model ProjetSessionWebServ2.Models.Partie

@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.TournoiRes.DefinirGagnant;
}

<h1>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.DefinirGagnantTexte</h1>

<table class="table">
    <tr>
        <th>
            @ProjetSessionWebServ2.GlobalRessources.TournoiRes.Equipe
        </th>
        <th></th>
    </tr>
    @foreach (ProjetSessionWebServ2.Models.Equipe eq in Model.Equipes)
    {
        <tr>
            <td>@eq.Nom</td>
            <td>@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.ChoisirCommeGagnant, "ChooseWinner", new { id= Model.Id, eqid = eq.Id })</td>
        </tr>      
    }
</table>

@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.RetourAuPartiesTournoi, "TournamentGames", new { id = Model.Tournoi.Id })