@model ProjetSessionWebServ2.ViewModels.Tournoi_EquipesPointages

@{
    ViewBag.Title = @ProjetSessionWebServ2.GlobalRessources.TournoiRes.StatutTournoi;
}

<h1>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.StatutTournoi: @Model.Tournoi.Nom</h1>


<h2>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Classement</h2>
<div>
    <table class="table">
        <tr>
            <th>
                @ProjetSessionWebServ2.GlobalRessources.TournoiRes.Rang
            </th>
            <th>
                @ProjetSessionWebServ2.GlobalRessources.TournoiRes.Equipe
            </th>
            <th>
                @ProjetSessionWebServ2.GlobalRessources.TournoiRes.Pointage
            </th>
            <th></th>
        </tr>
        @{
            int cpt = 1;
            foreach (ProjetSessionWebServ2.Models.EquipeAvancement eq in Model.Equipes)
            {
                <tr>
                    <td>@cpt</td>
                    <td>@eq.Equipe.Nom</td>
                    <td>@eq.NbrDePoints</td>
                    <td>@Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Details, "DetailsForTeam", new { id = eq.Equipe.Id, tournid = Model.Tournoi.Id })</td>
                </tr>

                cpt++;
            }
        }
    </table>
</div>



@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.RetourAuTournoi, "Details", new { id = Model.Tournoi.Id })


