@model ProjetSessionWebServ2.Models.Tournoi

@{
    ViewBag.Title = ProjetSessionWebServ2.GlobalRessources.TournoiRes.PartiesTournoi;
}

<h1>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.PartiesTournoi: @Model.Nom</h1>

@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.AjouterPartie, "AddGame", new { id=Model.Id })
<br />
<br />

<table class="table">
    <tr>
        <th>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Equipe &nbsp;</th>
        <th>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.DateHeure</th>
        <th>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Gagnant</th>
        <th></th>
    </tr>
    @foreach (ProjetSessionWebServ2.Models.Partie p in Model.Parties)
    {
        <tr>
            <td>
                @{
                    // On va concatener les noms des equipes.
                    string vs = "";
                    for (int i = 0; i < p.Equipes.Count; i++)
                    {
                        ProjetSessionWebServ2.Models.Equipe e = p.Equipes[i];
                        if(i != p.Equipes.Count - 1)
                        {
                            vs += e.Nom + " vs ";
                        }
                        else
                        {
                            vs += e.Nom;
                        }
                    }
                    
                    <p>@vs</p>
                }
            </td>
            <td>
                @{
                    if(!p.Actif)
                    {
                        <p>@ProjetSessionWebServ2.GlobalRessources.TournoiRes.Annulee</p>
                    }
                    else
                    {
                        <p>@p.DateEtHeureDebut @ProjetSessionWebServ2.GlobalRessources.TournoiRes.A @p.DateEtHeureFin</p>
                    }
                }
            </td>
            <td>
                @{
                    if(p.Gagnant == null || p.Gagnant.Equals(""))
                    {
                        @Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.ChoisirGagnant, "SetGameWinner", new { id=p.Id })
                    }
                    else
                    {
                        <p>@p.Gagnant</p>
                    }
                }
                
            </td>
            <td>
                @{
                    if(!p.Actif)
                    {
                        <p></p>
                    }
                    else
                    {
                        Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.Annuler, "CancelGame", new { id = p.Id, tournid = Model.Id });
                    }
                }
                
            </td>
        </tr>
    }
</table>

@Html.ActionLink(ProjetSessionWebServ2.GlobalRessources.TournoiRes.RetourAuTournoi, "Details", new { id = Model.Id })

