@model IEnumerable<ProjetSessionWebServ2.Models.Conference>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{    
        using (Html.BeginForm("Index", "Conferences", FormMethod.Get))
        {
            <p>
                Par Type de Conférence: @Html.TextBox("searchTypeConference", ViewBag.CurrentFilter as string) <br>
                Par Nom: @Html.TextBox("searchNomConference", ViewBag.CurrentFilter as string) <br>
                Par Conferencier: @Html.TextBox("searchConferencier", ViewBag.CurrentFilter as string) <br>
                <input type="submit" value="Rechercher" class="btn btn-default" />
            </p>

        }
    
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeConference)
        </th>
        <th>
            @Html.DisplayName("Conferencier")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeConference.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.FirstOrDefault().UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
