@model ProjetSessionWebServ2.Models.Section

@{
    ViewBag.Title = @ProjetSessionWebServ2.GlobalRessources.SalleSectionRes.Edit;
}

<h2>@ProjetSessionWebServ2.GlobalRessources.SalleSectionRes.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ProjetSessionWebServ2.GlobalRessources.SalleSectionRes.Section</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TailleSection, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Taille Section", new List<SelectListItem>
            {
              new SelectListItem{ Text = "Petite", Value = "0" },
              new SelectListItem{ Text = "Moyenne", Value = "1" },
              new SelectListItem{ Text = "Grande", Value = "2" },
              new SelectListItem{ Text = "Tres_Grande", Value = "3" }
            })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Dimension.Largeur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dimension.Largeur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension.Largeur, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Dimension.Longueur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dimension.Longueur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension.Longueur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@ProjetSessionWebServ2.GlobalRessources.SalleSectionRes.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.SalleSectionRes.Retouralaliste, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
