@model IEnumerable<ProjetSessionWebServ2.Models.Section>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter une nouvelle section", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Taille Section
        </th>
        <th>
            Largeur
        </th>
        <th>
            Longueur
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TailleSection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimension.Largeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimension.Longueur)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.Id }) |
            @Html.ActionLink("voir Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
