@model ProjetSessionWebServ2.Models.Kiosque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kiosque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.TypeKiosque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeKiosque.Nom)
        </dd>

        <dt>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>
        <dt>
            @Html.DisplayName("Kiosqueur")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users[0].UserName)
        </dd>
        <dt>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlageHoraires[0].DateEtHeureDebut.Value.Date)
        </dd>
        <dt>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.HeureDebut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlageHoraires[0].DateEtHeureDebut.Value.Hour)
        </dd>
        <dt>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.ConferenceRes.HeureFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlageHoraires[0].DateEtHeureFin.Value.Hour)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.KiosqueRes.BacktoList, "Index")
</p>
