@model IEnumerable<ProjetSessionWebServ2.Models.Spectacle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Spectacles", FormMethod.Post))
{
    <p> @ProjetSessionWebServ2.GlobalRessources.SpectacleRes.ParTypeDeSpectacle: @Html.DropDownList("TypeSpectacles", (SelectList)ViewBag.TypeSpectacles, "") <br />
    @ProjetSessionWebServ2.GlobalRessources.SpectacleRes.ParNom: @Html.TextBox("searchNomConference", ViewBag.CurrentFilter as string) <br>
    @ProjetSessionWebServ2.GlobalRessources.SpectacleRes.ParMusicien: @Html.TextBox("searchConferencier", ViewBag.CurrentFilter as string) <br>
        <input type="submit" value="@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.Rechercher" class="btn btn-default" /> </p>
}

<p>
    @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.TypeSpectacle)
        </th>
        <th>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.Actif)
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.HeureDebut)
        </th>
        <th>
            @Html.DisplayName(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.HeureFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeSpectacle.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureDebut.Value.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureDebut.Value.Hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlageHoraires[0].DateEtHeureFin.Value.Hour)
        </td>
        <td>
            @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink(@ProjetSessionWebServ2.GlobalRessources.SpectacleRes.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
